body {
  margin: 0;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url(images/cork-board.png);
}

.blackOut {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  left: 200%;
}
.blackout-active {
  left: 0;
}
/* ////////////////////////////////////////////////////////////////////////////////////// NAV STYLES */
nav {
  position: absolute;
  display: flex;
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  flex-direction: column;
}

.logo {
  padding: 40px 0px;
  font-size: 30px;
}

nav > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input {
  width: 80%;
}
nav > button {
  display: block;
  width: 130px;
  padding: 10px 20px;
  margin: 10px 0;
}
