.workers-tab {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 200%;
  border: 2px solid black;
  transform: translate(-50%, -50%);
  transition: 1s;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
}

.workers-tab-active {
  position: absolute;
  left: 50%;
  top: 50%;
}

.workers-tab-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 2px;
  font-size: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  border: none;
}
.workers-tab-topBar {
  background-color: aqua;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 30px;
}

.workers-tab-topBar > h4 {
  position: absolute;
  top: 0;
  margin: 0;
  margin-left: 10px;
  line-height: 30px;
}

.workers-tab-content > form {
  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
  top: 30px;
  background-color: #bbb;
  align-items: center;
  justify-content: space-evenly;
}

.workers-tab-content > form > input {
  height: 50%;
}

.workers-tab-content > form > button {
  background-color: green;
}

.worker-list {
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 80px;
  overflow-y: scroll;
}

.worker-position {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
}

.worker-position > div {
  height: 100%;
  width: 20%;
  padding: 10px 10px;
  border-right: 2px solid black;
}

.worker-position > button {
  background-color: crimson;
}
